@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* src/components/About.css */
.about {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  color: #003366;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.about p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}
