.dashboard-container {
    padding: 60px;
    text-align: center;
  }
  
  .dashboard-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .dashboard-container p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
