/* src/components/Team.css */
.team {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  color: #003366;
  font-family: 'Orbitron', sans-serif;
}

.team h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.team p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px; /* Increase the margin-top to add vertical space */
}

.team-member {
  text-align: center;
  margin-bottom: 40px;
}

.member-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.team-member h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 1.2rem;
  line-height: 1.6;
}
